<h4>Movies</h1>
<% @movies.each do |movie| %>
	<p><%= link_to movie['title'], '/movies/' + movie['id'].to_s %></p>
<% end %>
<br>
<br>
<h4>Celebrities</h4>
<% @people.each do |person| %>
	<p><%= link_to person['name'], '/celebrities/' + person['id'].to_s %></p>
<% end %>